@font-face {
    font-family: Inter;
    src: url('Inter_Variable.ttf');
}
body{
    width:100vw;
    margin:0;
    padding: 0;
    background-color: #20212D;
    overflow-x: hidden;
    min-height: 100vw;
    scroll-behavior: smooth;
    font-family: Inter;
    
}
html{scroll-behavior: smooth;}
::-webkit-scrollbar {
    width: .6vw;
}
::-webkit-scrollbar-track {
    background: #20212D;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #37394D;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff9900;
  }

header{
    background-color: #1A1B25;
    display:flex;
    justify-content: space-between;
    padding: 1.5vw;
    padding-right: 2.5vw;
    &>nav{
        display: flex;
        &>a{
            margin-left:1vw;
        }
    }
}

.header-button{
    font-family: Inter;
    color:#1A1B25;
    font-weight:1000;
    position: relative;
    font-size: 1.25vw;
    &>span{
        position: relative;
        top:0;
        right:0;
        z-index: 1;
    }
    &>div{
        position: absolute;
        top:0;
        right:0;
        -webkit-text-stroke: 0.2vw whitesmoke;
    }
}
#star-container,#star-container2,#star-container3{
    
    width: 100%;
    height: 40vw;
    
    position: fixed;
    z-index:-2;
}
.star{
    aspect-ratio: 1;
    height: auto;
    width: .3vw;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    position: absolute;
    z-index:-2 !important;
    animation: fadeInOut 20s infinite;

}
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
#Hero{ 
    display: flex;
    justify-content: space-between;
    padding:7vw 20vw 14vw 20vw;
    pointer-events: none;
    &>div{
        
        font-family: Inter;
        color:#1A1B25;
        display:flex;
        flex-direction: column;
        align-self: center;
        &>h4{
            color:whitesmoke;
            font-size: 1.6vw;
            font-weight:700;
            padding: .1vw 0;
            margin:0;
        }
        &>.header-button{
            
            width: min-content;
            font-size: 3vw;
            &>div{
                -webkit-text-stroke: .55vw whitesmoke;
            }
        }
        &>h1{
            color:whitesmoke;
            font-size: 2.5vw;
            font-weight:600;
            margin:0;
            transform: translateY(-.35vw);
        }

    }
    &>img{
        
        height:auto;
        
        width:20vw;
        z-index: 1;
        aspect-ratio: 1;
    }
}

.Fade-Section{
    background-color: #323445;
    width: 100vw;
    height: 5vw;
    z-index: 1;
    &.darken{
        background-color: #1e1f2b;
    }
}
#Projects{
    background-color: #404358;
    width: 100vw;
    height: fit-content;
    padding-bottom: 5vw;
    z-index: 1;
    color:whitesmoke;
    text-align: center;
    &>h1{
        margin: 0;
        padding-top: 7vw;
        font-size: 1.7vw;
    }
    &:not(.expand) .fade-content{
            width:100vw;  
            height:5vw;
            position:relative;
            transition: scale 0.3s ease-in-out;
            &>#Expand-Projects{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-25%);
                transition: all .2s ease;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;

                &>img{
                    height: auto; aspect-ratio: 1; width: 3vw;
                    transform: rotateZ(180deg);
                }
                &>span{
                    font-size: 1vw;
                }
                &>.see{
                    display: none;
                }
                &:hover{
                    transform: translateX(-25%) scale(1.1);
                }
            }
    }
    
    
    &.expand>#Project-Container{
        overflow: hidden;
        height:80vw;
        
        &>.fade-content{
            background:linear-gradient(transparent , #404358 80%);
            width:100vw;
            height:30vw;    
            position:absolute;
            left:0;
            bottom:0;
            transition: all 0.3s ease-in-out;
           
            opacity: 100%;

            &>#Expand-Projects{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-25%);
                transition: all .2s ease;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;

                &>img{
                    height: auto; aspect-ratio: 1; width: 3vw;
                }
                &>span{
                    font-size: 1vw;
                }
                &>.collapse{
                    display: none;
                }
                &:hover{
                    transform: translateX(-25%) scale(1.1);
                }
            }
        }
    }
    
    

}
#Project-Container{
    width: 100vw;
    padding-top:5vw;
    
    
    

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;


    
}
.Project-Slots{
    
    display: flex;
    margin-bottom: .5vw;
    width: 60%;
    height:11vw;
    position: relative;
    padding: 1vw;
    border-radius: 1vw;
    transition: all .2s ease;
    &:hover{
        background-color: #37394D;
        transform: scale(1.02);
        & .tag{
            background-color: #2d2f3f;
    
        }
    }
    
    
    &>img{
        
        object-fit: cover;
        width:25%;
        aspect-ratio: 4/3;
        height: auto;
        border-radius: .75vw;
    }
    &>div{
        transition: all 0.3s ease-in-out;
        margin-left: 1vw;
        height: 100%;
        width:75%;
        
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-bottom: 2.6vw;
        &>h4{
            
            font-size: 1.5vw;
            position: relative;
            &>i{
                position: absolute;
                top:50%;
                right:0;
                transform: translate(-2vw,-50%);
                font-weight: 400;
                font-size: .8vw;
                color: #727691;
            }
            
            padding: 0;
            margin: 0;
        }
        &>span{
            flex-grow: 1;
            font-size: 1vw;
            width:100%;
            overflow-y: hidden;
            position: relative;
            &:before{
                display:none;
                content:'';
                width:100%;
                height:7.5vw;    
                position:absolute;
                left:0;
                top:0;
                transition: all 0.3s ease-in-out;
                background:linear-gradient(transparent 5vw, #404358);
                opacity: 100%;
            }
            
        }
        &>.tag-container{
            
            bottom: .4vw;
            width: 95%;
            margin-bottom: .7vw;
            display: flex;
            border-top:solid .1vw #fff;
            padding-top: .4vw;
            margin-top: .2vw;
            &>.tag{
                white-space: nowrap;
                background-color: #37394D;
                padding:.2vw 1.3vw;
                font-size: 1.2vw;
                height:fit-content;
                border-radius: 10vw;
                margin-right: .5vw;
                
            }
            
        }
        

    }
    &.expand{
        
        &>div{
            height: fit-content;            
            &>span:before{
                opacity: 0%;
                
            }
        }
    }

}


#Information{
    
    width: 100vw;
    height: fit-content;    
    padding-bottom: 5vw;
    z-index: 1;
    color:whitesmoke;
    text-align: center;
    &>nav{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        &>*{
            font-weight: 600;
            font-size: 1.2vw;
            background-color: #292B3F;
            flex-grow: 1;
            padding: 2vw 0;
            &.enabled{
                background-color: transparent;
            }
        }
    }
    &>div{

        &:not(.enabled){
            display: none;
        }
    }
}

.education-slot{
    display: grid;
    grid-template-columns: 4fr 5vw 5fr;
    text-align: left;
    
    
    
    &>i{
        text-align: right;
        grid-row: 2;
        grid-column: 1;
        font-size: 1.4vw;   
    }
    &>h4{
        margin:0;
        font-size: 1.3vw;
        grid-row: 2;
        grid-column: 3;
    }
    &>div{
        width:1vw;
        height: 1vw;
        border-radius: 5vw;
        background-color: #404358;
        justify-self: center;
        grid-row: 2;
        grid-column: 2;
    }
    &>span{
        padding-top: .1vw;
        font-size: .9vw;
        grid-column: 3;
        grid-row: 3;
    }
    &>.line-upper{
        width:.2vw;
        height: 2vw;
        align-self: center;
        grid-column:2;
        grid-row:1;
        background-color: #404358;
        justify-self: center;
    }
    &>.line-below{
        width:.2vw;
        height: calc(100% + 8vw);
        align-self: center;
        grid-column: 2;
        grid-row:3;
        background-color: #404358;
        justify-self: center;
    }
}
.skills-slot{
    display: flex;
    justify-content: center;
    align-items: top;
    margin-bottom: 2vw;
    padding-right:8vw;
    &>*{
        width:30vw;
    }
    
    &>h4{
        font-size: 1.3vw;
        margin: 0;
        text-align: right;
        padding-right: 5vw;
    }
    &>span{
        font-size: 1vw;
        text-align: left;
    }

}
#Information-Education{
    padding: 5vw 0;
    
}
#Information-Profile{
    display:flex;
    margin:8vw 10vw;
    justify-content: center;
    position: relative;
    height:27vw;
    &>div{
        text-align: left;
        line-height: 1vw;
        
        width:35vw;
        &>h4{
            font-size: 1.7vw;
        }
        &>span{
            font-size: .99vw;
        }
    }
    &>img{
        z-index: 2;
        margin-left: 5vw;
        aspect-ratio: 1 !important; 
        height: auto !important;
        width:20vw;
        object-position: 50% 30%;
        object-fit: cover;
        border-radius: 100vw;
    }
    &>.horizontal-line{
        position: absolute;
        width: 35vw;
        height: .35vw;
        background-color: whitesmoke;
        bottom:0;
        left:10vw;
        
    }
    &>.diagonal-line{
        position: absolute;
        width: 10vw;
        height: .35vw;
        background-color: whitesmoke;
        bottom:0;
        left:45.4vw;
        transform: rotateZ(-25deg) translate(0,-2.31vw);
        
        
    }
}
#Information-Skills{
    padding-top: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.info-content{
    opacity: 0;
    transition: all .2s ease;
    &.enabled{
        opacity: 1;
    }
}

#Contacts{
    
    background-color: #1e1f2b;
    padding: 5vw;
    width: 50vw;
    margin: auto;
    margin-bottom: 10vw;
    margin-top: 10vw;
    border-radius: 6vw;
    &>div{
        border-radius: 3vw;
        background-color: #191a24;
        width: 100%;
        margin: auto;
        height: fit-content;
        padding-bottom: 10vw;
        padding-top: 2vw;
        z-index: 1;
        color:whitesmoke;
        text-align: center;
        &>h1{
            margin: 0;
            padding-top: 7vw;
            margin-bottom: 3vw;
            font-size: 1.7vw;
        }
        
        & > div{
            margin-top: 1.5vw;
            & > a > img{
                height: auto;
                aspect-ratio: 1;
                width: 5vw;
            }
        }
        &>a{
            font-size: 1.2vw;
            color:whitesmoke;
            text-decoration: none;
            &:active{
                color:whitesmoke;
            }
            &:visited{
                color:whitesmoke;
            }
        }
    }
    
}

.background-circle{
    aspect-ratio: 1;
    height: auto;
    width: 5vw;
    background-color: rgba(64, 67, 88, 0.18);
    border-radius: 100%;
    position: absolute;
    z-index:-1;
    &:hover{
        display: none;
        transform: scale(1.1);
    }
    &.first{
        left:58%;
        width:25vw;
        top:9vw;
    }
    &.second{
        
        left:-5%;
        width: 25vw;
        top:23vw;
    }
    &.third{
        width: 12vw;
        left:36%;
        top:23vw;
    }
    &.fourth{
        width: 8vw;
        height: 8vw;
        transition: transform 0.08s ease;
        pointer-events: none;
        z-index: -1;
    }

    
    
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }


